@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Helvetica Neue", sans-serif;
  --font-serif: "Cormorant Garamond", serif;
  --font-mono: "Space Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-dev: "Noto Serif Devanagari", serif;
  --font-royal: "Playfair Display", serif;
  
  --color-gold: #D4AF37;
  --color-bone: #E5E0D0;
  --color-obsidian: #050505;
}

body {
  background-color: var(--color-obsidian);
  color: var(--color-bone);
  font-family: var(--font-sans);
}
